ul{
    list-style-type: none;
    overflow: hidden;
    color: red;
}

li{
    float: left;
}
 
.navList{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aliceblue;

}

li a{
    /* display block put the list in the middle */
    /* padding creates space between the words */
    display: block;
    padding: 20px;
}