ul{
    list-style-type: none;
    overflow: hidden;
}

li{
    float: left;
}

li a{
    /* display block put the list in the middle */
    /* padding creates space between the words */
    display: block;
    padding: 20px;
    background-color: aliceblue;
}